{% extends "base.html" %}

{% block content %}

<style>
    .mid-grid .entry-container {
        padding: 8px 30px;
    }

    .entry-container-form label {
        position: relative;
        display: block;
    }

    .entry-container-form label input,
    .entry-container-form label textarea {
        display: block;
        padding: 20px;
        width: 100%;
        margin-bottom: 10px;
        outline: none;
        border: 0;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        background: white;
        font-weight: bold;
        color: blue;
    }

    .entry-container-form label input::-moz-placeholder,
    .entry-container-form label textarea::-moz-placeholder {
        transition: all 0.2s ease-in-out;
        color: green;
        font-weight: bold;
    }

    .entry-container-form label input:-ms-input-placeholder,
    .entry-container-form label textarea:-ms-input-placeholder {
        transition: all 0.2s ease-in-out;
        color: green;
        font-weight: bold;
    }

    .entry-container-form label input::placeholder,
    .entry-container-form label textarea::placeholder {
        transition: all 0.2s ease-in-out;
        color: green;
        font-weight: bold;
    }

    .entry-container-form label input:focus,
    .entry-container-form label textarea:focus,
    .entry-container-form label input.populated,
    .entry-container-form label textarea.populated {
        padding-top: 28px;
        padding-bottom: 12px;
    }

    .entry-container-form label input:focus::-moz-placeholder,
    .entry-container-form label textarea:focus::-moz-placeholder,
    .entry-container-form label input:focus::-moz-placeholder,
    .entry-container-form label textarea.populated::-moz-placeholder {
        color: transparent;
    }

    .entry-container-form label input:focus:-ms-input-placeholder,
    .entry-container-form label textarea:focus:-ms-input-placeholder,
    .entry-container-form label input.populated:-ms-input-placeholder,
    .entry-container-form label textarea.populated:-ms-input-placeholder {
        color: transparent;
    }

    .entry-container-form label input:focus::placeholder,
    .entry-container-form label textarea:focus::placeholder,
    .entry-container-form label input.populated::placeholder,
    .entry-container-form label textarea.populated::placeholder {
        color: transparent;
    }

    .entry-container-form label input:focus+span,
    .entry-container-form label textarea:focus+span,
    .entry-container-form label input.populated+span,
    .entry-container-form label textarea.populated+span {
        opacity: 1;
        top: 10px;
    }

    .entry-container-form label span {
        font-size: .8rem;
        color: red;
        position: absolute;
        top: 0px;
        left: 20px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    input[type="file"] {
        display: none;
    }

    .file-upload {
        display: inline-block;
        padding: 10px 20px;
        background-color: #FFC650;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    select {
        display: block;
        padding: 20px;
        width: 300px;
        margin-bottom: 10px;
        outline: none;
        border: 0;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        background-color: white;
        font-weight: bold;
        color: #FF7975;
    }

    select:focus {
        padding-top: 28px;
        padding-bottom: 12px;
    }

    span {
        font-size: .8rem;
        color: #A9A9A9;
        position: absolute;
        top: 0px;
        left: 20px;
        opacity: 0;
    }

    textarea {
        resize: none;
        overflow: hidden;
        min-height: 50px;
    }
</style>

<div class="mid-grid">
    <div class="entry-container">
        {% if user.is_authenticated %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="entry-container-form">
                <label>
                    {{ form.title }}
                    <span id="{{ form.title.id_for_label }}">Title</span>
                </label>

                <label>
                    {{ form.short_description }}
                    <!-- <textarea   oninput="autoExpand(this)">{{ form.short_description }}</textarea> -->
                    <!-- <textarea id="myTextarea" oninput="autoExpand(this)" placeholder="Enter short-description here" required>{{ form.short_description }}</textarea> -->

                    <span id="{{ form.short_description.id_for_label }}">Short Description</span>
                </label>

                <label>
                    {{ form.content }}
                    <span id="{{ form.content.id_for_label }}">Content</span>
                </label>

            </div>

            <label for="id_category">Category:</label>
            <select name="category" id="id_category" required>
                {% for choice in category_choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>

            <div class="file-upload" onclick="setupFileUpload()">
                <div class="file-upload-select">
                    <div class="file-select-button">CHOOSE FILE</div>
                    <div class="file-select-name">Attachment</div>
                    <input type="file" name="file-upload-input" id="file-upload-input">
                </div>
            </div>

            <button type="submit">Submit</button>
        </form>
        {% else %}
        
        {% endif %}

    </div>
</div>

<script>
    /* JavaScript function */
    function autoExpand(textarea) {
        textarea.style.height = 'auto'; // Reset the height to auto
        textarea.style.height = textarea.scrollHeight + 'px'; // Set the height to match the content
    }
</script>
{% endblock %}