
{% extends "base.html" %}
{% block title %}Write{% endblock %}
{% block content %}


<div class="mid-grid">
    <div class="entry-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="entry-container-form">

                <div class="input-file-container">
                    <input class="blogform-fileupload input-file" name="cover_image" id="my-file" type="file">
                    <label tabindex="0" for="my-file" class="input-file-trigger">Add a cover image</label>
                    <p class="file-return"></p>
                </div>

                {{ form.media}}
                {% for field in form %}
                <div class="form-list">

                    {{ field }}

                </div>
                {% endfor %}

            </div>

            <button class="button-hold" type="submit">Publish</button>
        </form>

    </div>
</div>

<script>
    var fileInput = document.querySelector(".input-file"),
        button = document.querySelector(".input-file-trigger"),
        the_return = document.querySelector(".file-return");

    button.addEventListener("keydown", function (event) {
        if (event.keyCode == 13 || event.keyCode == 32) {
            fileInput.focus();
        }
    });
    button.addEventListener("click", function (event) {
        fileInput.focus();
        return false;
    });
    fileInput.addEventListener("change", function (event) {
        the_return.innerHTML = this.files[0].name;
    });
</script>

{% endblock %}