{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>
    .mid-grid .author-profile-container {
        padding: 8px 25px;
    }

    p.author-title {
        font-size: 30px;
    }

    .about-author {
        background: red;
    }

    .card-title {
        font-size: 16px;
    }

    .horizontal-line {
        border-top: 1px solid rgba(0, 0, 0, 0.300);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .article-item {
        padding: 0;
    }
</style>

<div class="mid-grid">
    <div class="author-profile-container">

        {% if blog_obj %}
        <div class="author-blog-item">
            <p class="author-title">{{blog_author}}</p>

            <div class="article-item">
                {% for blog in blog_obj %}

                <div class="card-body">
                    <div class="card-title">
                        <p class="article-link">{{ blog.title }}</p>
                    </div>

                    <div class="edit-delete-btn">
                        <button class="button-hold" type="submit"><a
                                href="{% url 'edit_blog' slug=blog.slug %}">Edit</a></button>
                        <button class="button-hold" type="submit"><a
                                href="{% url 'delete_blog' id=blog.id %}">Delete</a></button>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p class="author-title">{{ logged_user }}</p>
        <p>No post</p>
        {% endif %}

    </div>
</div>

</div>
{% endblock %}