{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>
    .author-container {
        margin-top: 8px;
        display: grid;
        grid-template-columns: 1fr 300px;
    }

    p.author-title {
        font-size: 30px;
    }

    .grid-container {
        grid-template-columns: 345px 940px;
    }

    .about-author {
        background: red;
    }

    .card-title {
        font-size: 16px;
    }

    .horizontal-line {
        border-top: 1px solid rgba(0, 0, 0, 0.300);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .article-item {
        padding: 0;
    }
</style>

<div class="mid-grid">
    <div class="author-container">

        <div class="author-blog-item">
            <p class="author-title">{{blog_author}}</p>

            <div class="article-item">
                {% if blog_obj %}
                {% for blog in blog_obj %}

                <div class="card-body">
                    <div class="card-title">
                        <p class="article-link">{{ blog.title }}</p>
                    </div>

                    <div class="edit-delete-btn">
                        <button class="button-hold" type="submit"><a href="{% url 'edit_blog' slug=blog.slug %}">Edit</a></button>
                        <button class="button-hold" type="submit"><a href="{% url 'delete_blog' id=blog.id %}">Delete</a></button>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                {% endfor %}
                {% else %}
                <p>No post</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

</div>
{% endblock %}