
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} " />
  <script src="{% static 'js/main.js'%}"></script>
  <script type="text/javascript" src="{% static ' ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript" src="{% static ' ckeditor/ckeditor/ckeditor.js' %}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
  <style>
    hr {
      margin: 5px 0;
      color: var(--grey-color);
      opacity: 0.2;
    }
  </style>
</head>

<body>
  <input type="hidden" id="csrf" value="{{csrf_token}}" />
  <div class="container">
    <div class="grid-container">
      <div class="left-grid">
        <div class="sidebar">
          <div class="navbar">
            <a href="/">

              <div class="logo">
                <img src="{% static 'image/PenandPage_logo.png' %}" alt="Logo" />
              </div>
            </a>
            <ul>
              <li>
                <a href="{% url 'home' %}">
                  <div class="inline-block">
                    <img src="{% static 'image/home.svg' %}" alt="" class="image-icon">
                  </div>
                  <div class="inline-block">
                    Home
                  </div>
                </a>
              </li>


              {% if user.is_authenticated %}
              <li>
                <div class="inline-block">
                  <img src="{% static 'image/pencil-case.svg' %}" alt="" class="image-icon">
                </div>
                <div class="inline-block">
                  <a href="{% url 'addblog' %}">Write a blog</a>
                </div>
              </li>

              <li>
                <div class="inline-block">
                  <img src="{% static 'image/dashboard.svg' %}" alt="" class="image-icon">
                </div>
                <div class="inline-block">
                  <a class="profile-link" href="{% url 'profile' authorid=user.id %}">Dashboard</a>
                </div>
              </li>
              <hr>
              <li>
                <div class="inline-block">
                  <img src="{% static 'image/user-profile.svg' %}" alt="" class="image-icon">
                </div>
                <div class="inline-block">
                  <a class="logout-link" href="{% url 'profile' authorid=user.id %}">{{ user.username }}</a>
                </div>
              </li>
              <li>
                <div class="inline-block">
                  <img src="{% static 'image/home.svg' %}" alt="" class="image-icon">
                </div>
                <div class="inline-block">
                  <a class="logout-link" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
              {% else %}
              <li>
                <a href="{% url 'login' %}">
                  <div class="inline-block">
                    <img src="{% static 'image/pencil-case.svg' %}" alt="" class="image-icon">
                  </div>
                  <div class="inline-block">
                    Write a blog
                  </div>
                </a>
              </li>

              <li>
                <div class="inline-block">
                  <img src="{% static 'image/home.svg' %}" alt="" class="image-icon">
                </div>
                <div class="inline-block">
                  <a href="{% url 'login' %}">Sign in</a>
                </div>
              </li>
              <li>
                <div class="inline-block">
                  <img src="{% static 'image/home.svg' %}" alt="" class="image-icon">
                </div>
                <div class="inline-block">
                  <a href="{% url 'register' %}">Get Started</a>
                </div>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% block content %} {% endblock %}
    </div>
  </div>

  <script type="text/javascript" src='{% static " ckeditor/ckeditor-init.js" %}'></script>
  <script type="text/javascript" src='{% static " ckeditor/ckeditor/ckeditor.js" %}'>
  </script>
  <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}" />
  <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
</body>

</html>