{% extends "base.html" %} {% block content %}
{% load static %}

<style>
  .commentbox {
    font-family: inherit;
    color: #4a4a4a;
    font-size: 14px;
  }

  .commentbox .comment-input,
  .commentbox .comment-btn {
    display: inline-block;
    border-radius: 5px;
  }

  .commentbox .comment-input {
    width: 550px;
    height: 50px;
    appearance: none;
    outline: 0;
    border: 1px solid var(--grey-color);
    padding: 10px;
  }

  .commentbox .comment-input:focus {
    height: 100px;
    border: 2px solid var(--sidebar-hover-color);
    background-color: #fff;

  }

  .commentbox .comment-stream {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .commentbox .comment-stream .comment-remove {
    display: none;
    background-color: red;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 12px;
    padding: 0 12px;
    opacity: 0.75;
    cursor: pointer;
  }

  .commentbox .comment-stream .comment-remove:hover {
    opacity: 1;
  }

  .commentbox .comment-stream li {
    font-size: 14px;
    padding-left: 10px;
    border-left: 3px solid #4a4a4a;
    margin-bottom: 25px;
  }

  .commentbox .comment-stream li:hover .comment-remove {
    display: inline-block;
  }

  .comment-author-date p {
    color: var(--main-color);
    margin-bottom: 10px;
  }
</style>
<div class="mid-grid">
  <div class="article-container">
    <div class="article">

      <div class="blog-title">
        <p>{{blog_obj.title}}</p>
      </div>
      <div class="card-user">
        <p><a class="profile-link" href="{% url 'profile' authorid=blog_obj.author_id %}">{{ blog_obj.author }}</a></p>
      </div>

      <div class="card-footer">
        <p>Posted on
          {{blog_obj.created_at.date}}</p>
        <p><a class="article-link" href="{% url 'category' blog_obj.category %}"><img class="small-image"
              src="{% static 'image/category.png' %}" alt="category" />{{ blog_obj.category }}
          </a>
      </div>

      <div class="cover-image">
        <img src="{{ blog_obj.cover_image.url }}" alt="cover image" srcset="">
      </div>

      <div class="full-blog-content">
        <p>{{ blog_obj.content|safe }}</p>
      </div>

      <hr>

      <div class="commentbox">
        <p class="heading">Comment ({{ comment_count }})</p>
        <div class="clearfix">
          {% if user.is_authenticated %}
          <form method="post" id="comment-form">
            {% csrf_token %}
            {{ comment_form.media }}
            {% for field in comment_form %}
            <div class="form-list">

              {{ field }}

            </div>
            {% endfor %}
            <button class="button-hold" type="submit">Submit</button>

          </form>
          {% else %}
          <a href="/login">
            <p>Login first to comment.</p>
          </a>
          {% endif %}
        </div>

        <hr>

        <ul id="comment-stream" class="comment-stream">
          {% for comment in blog_obj.comments.all %}

          <div class="comment-author-date">
            <p>{{ comment.author }} • {{ comment.created_at.date }}</p>
          </div>

          <p class="comment-content">{{ comment.comment_content }}</p>
          <hr>
          {% empty %}
          <p>No comments yet.</p>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</div>
{% include 'right_grid.html' %}
{% endblock %}