{% extends 'base.html' %} {% block content %}

<div class="mid-grid">
  <div class="form">
    <div class="form-panel one">
      <div class="form-header">
        <h1>Register Account</h1>
      </div>
      <div class="form-content">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="reg-username">Username</label>
            <input id="reg-username" type="text" name="reg-username" required="required" />
          </div>
          <div class="form-group">
            <label for="reg-password">Password</label>
            <input id="reg-password" type="password" name="reg-password" required="required" />
          </div>
          <div class="form-group">
            <label for="reg-cpassword">Confirm Password</label>
            <input id="reg-cpassword" type="password" name="reg-cpassword" required="required" />
          </div>
          <div class="form-group">
            <label for="reg-email">Email Address</label>
            <input id="reg-email" type="email" name="reg-email" required="required" />
          </div>
          <div class="form-group">
            <button type="submit" onclick="return register()">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}