# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore cache and temporary files
__pycache__/


TODO
static/ckeditor/

modeltest.py
*test*.*

db.sqlite3