:root {
    --main-bgcolor: rgb(245, 245, 245);
    --white-bgcolor: #ffffff;
    --sidebar-hover-color: rgb(47, 58, 178);
    --sidebar-hover-bgcolor: rgb(59, 73, 223, 0.1);
    --main-padding: 8px 25px;
    --main-margin: 10px 20px;
    --main-color: rgba(0, 0, 0, 0.8);
    --heading-color: rgb(41, 41, 41, 1);
    --title-color: rgb(23, 23, 23);
    --grey-color: rgba(117, 117, 117, 1);
}


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.6em;
}

body {
    background: var(--main-bgcolor);
}

a {
    text-decoration: none;
    color: var(--heading-color)
}

a:hover {
    color: var(--sidebar-hover-color)
}

ul {
    list-style-type: none;
}

input {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    color: var(--grey-color)
}

input[type="submit"] {
    cursor: pointer;
}

hr {
    margin: 5px 0;
    color: var(--grey-color);
    opacity: 0.2;
}

.grid-container {
    display: grid;
    grid-template-columns: 259px 721px 365px;
    grid-template-areas:
        "left-grid mid-grid right-grid";
}

.left-grid {
    font-size: 16px;
    grid-area: left-grid;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    height: 100vh;
}

.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.navbar {
    text-align: justify;
    border: 1 solid var(--grey-color);
    border-radius: 5px;
    height: 97%;
    margin: 10px 20px;
}

.navbar li {
    display: flex;
    align-items: center;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.image-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.navbar li a {
    display: block;
    color: var(--main-color);
}

.navbar ul li {
    display: block;
    padding: 8px 30px;
    text-decoration: none;
}

.navbar li:hover {
    background-color: var(--sidebar-hover-bgcolor);
    border-radius: 5px;
    color: var(--sidebar-hover-color)
}

.navbar li:hover a {
    color: var(--sidebar-hover-color)
}

.sidebar .logo img {
    width: 200px;
    align-items: center;
}

.cat-item::after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 100%;
    height: 1px;
}

footer {
    padding: 8px 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.mid-grid {
    grid-area: mid-grid;
    overflow-y: auto;
    margin-top: 10px;
    border: 0;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.article-item {
    background-color: var(--white-bgcolor);
    border: 0;
    border-radius: 10px;
}

.card-horizontal {
    padding: 8px 25px;
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 15px;
}

.card-horizontal:active {
    border: 2px solid var(--sidebar-hover-color);
}

.article-profilepicture-circle {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
}

.article-profilepicture-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title,
.card-text,
.card-footer {
    color: var(--main-color);
}

.card-user a {
    font-size: 12px;
    font-weight: 600;
    color: var(--main-color)
}

.card-user a:hover {
    color: var(--sidebar-hover-color);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--title-color)
}

.card-title:hover,
.card-footer .article-link p:hover {
    color: var(--sidebar-hover-color)
}

.card-text {
    color: var(--title-color);
    padding: 5px 0px;
    margin-bottom: -8px;
    font-size: 15px;
    text-align: justify;
}

.card-footer p {
    display: inline;
    font-size: 12px;
}

.card-footer .small-image {
    width: 10px;
    padding: 0px 4px;
}

.card-footer p,
.small-image img {
    opacity: 0.9;
}

.mid-grid .article-container {
    padding: 8px 25px;
    background-color: var(--white-bgcolor);
}

.mid-grid .author-profile-container {
    padding: 8px 25px;
}

.mid-grid .entry-container {
    padding: 8px 25px;
    background-color: white;
    border-radius: 5px;
}

.input-file-container {
    position: relative;
    width: 225px;
}

.input-file-trigger {
    display: block;
    padding: 10px 5px;
    border: 2px solid var(--grey-color);
    border-radius: 5px;
    color: var(--main-color);
    font-size: 1em;
    text-align: center;
    transition: all .4s;
    cursor: pointer;
}

.input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

.input-file:hover+.input-file-trigger,
.input-file:focus+.input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    border: 2px solid var(--grey-color);
    border-radius: 5px;
}

.file-return {
    margin: 0;
}

.file-return:not(:empty) {
    margin: 1em 0;
}

.file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}

.file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

.entry-container-form label {
    position: relative;
    display: block;
}

.entry-container-form label textarea {
    height: 100px;
    min-height: 100px;

}

.entry-container-form label input,
.entry-container-form label textarea {
    display: block;
    padding: 20px;
    width: 90%;
    margin-bottom: 10px;
    outline: none;
    border: 0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background: white;
    font-weight: bold;
    color: black;
}

.entry-container-form label input::-moz-placeholder,
.entry-container-form label textarea::-moz-placeholder {
    transition: all 0.2s ease-in-out;
    color: #D3D3D3;
    font-weight: bold;
}

.entry-container-form label input:-ms-input-placeholder,
.entry-container-form label textarea:-ms-input-placeholder {
    transition: all 0.2s ease-in-out;
    color: #D3D3D3;
    font-weight: bold;
}

.entry-container-form label input::placeholder,
.entry-container-form label textarea::placeholder {
    transition: all 0.2s ease-in-out;
    color: #D3D3D3;
    font-weight: bold;
}

.entry-container-form label input:focus,
.entry-container-form label textarea:focus,
.entry-container-form label input.populated,
.entry-container-form label textarea.populated {
    padding-top: 28px;
    padding-bottom: 12px;
}

.entry-container-form label input:focus::-moz-placeholder,
.entry-container-form label textarea:focus::-moz-placeholder,
.entry-container-form label input:focus::-moz-placeholder,
.entry-container-form label textarea.populated::-moz-placeholder {
    color: transparent;
}

.entry-container-form label input:focus:-ms-input-placeholder,
.entry-container-form label textarea:focus:-ms-input-placeholder,
.entry-container-form label input.populated:-ms-input-placeholder,
.entry-container-form label textarea.populated:-ms-input-placeholder {
    color: transparent;
}

.entry-container-form label input:focus::placeholder,
.entry-container-form label textarea:focus::placeholder,
.entry-container-form label input.populated::placeholder,
.entry-container-form label textarea.populated::placeholder {
    color: transparent;
}

.entry-container-form label input:focus+span,
.entry-container-form label textarea:focus+span,
.entry-container-form label input.populated+span,
.entry-container-form label textarea.populated+span {
    opacity: 1;
    top: 10px;
}

.entry-container-form label span {
    font-size: .8rem;
    font-weight: bold;
    color: #D3D3D3;
    position: absolute;
    top: 0px;
    left: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.button-hold {
    --color: #F6F8FF;
    --background: #0376FF;
    --progress-success: #5C86FF;
    --shadow: rgba(0, 9, 61, 0.2);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    min-width: 112px;
    margin-top: 8px;
    padding: 12px 20px 12px 12px;
    border: 0;
    border-radius: 8px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 12px) var(--shadow);
    transform: scale(var(--scale, 1)) translateZ(0);
    color: var(--color);
    background: var(--background);
}

.button-hold:hover {
    background-color: #006df3;
}

.button-hold>div {
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.button-hold>div:before {
    content: "";
    width: 16px;
    height: 16px;
    z-index: 1;
    position: absolute;
    background: var(--background);
    border-radius: inherit;
    transform: scale(var(--background-scale, 1));
    transition: transform 0.32s ease;
}

.button-hold:focus:not(.process),
.button-hold:hover:not(.process) {
    --shadow-y: 8px;
    --shadow-blur: 16px;
}

.button-hold:active:not(.success) {
    --scale: .96;
    --shadow-y: 4px;
    --shadow-blur: 8px;
}

.button-hold.process,
.button-hold.success {
    --progress-array: 52;
    --icon-y: -4px;
    --icon-scale: .6;
    --icon-opacity: 0;
}

.button-hold.success {
    --progress-border: none;
    --progress-scale: .11;
    --tick-stroke: var(--progress-success);
    --background-scale: 0;
    --tick-offset: 36;
}


@-webkit-keyframes tick {
    100% {
        transform: rotate(-90deg) translate(0, -5px) scale(var(--progress-scale));
    }
}

@keyframes tick {
    100% {
        transform: rotate(-90deg) translate(0, -5px) scale(var(--progress-scale));
    }
}

.blogform-title {
    font-size: 50px;
    font-weight: 600;
    color: rgb(41, 41, 41);
}

.blogform-title::placeholder {
    font-size: 50px;
    font-weight: 600;
    color: rgb(41, 41, 41);
}

.blogform-category {
    border: 0;
    outline: 0;
    padding: 10px;
}

.blogform-category select:hover {
    background-color: #006df3;
    font-family: inherit;
}

.article-container .card-user a {
    font-size: 16px;
}

.blog-title p {
    font-family: inherit;
    font-size: 30px;
    font-weight: 600;
    color: var(--title-color);
}

.article-container .cover-image img {
    width: 100%;
}

.article-container .card-footer {
    margin-top: -10px;
}

.full-blog-content p {
    color: var(--title-color);
    padding-top: 8px;
}

.right-grid {
    grid-area: right-grid;
    overflow-y: auto;
    height: 100vh;
}

.right-container {
    border: 0;
    border-radius: 5px;
    margin: 10px 20px;
    background-color: var(--white-bgcolor);
}

.heading {
    font-weight: 600;
    color: var(--heading-color)
}

.cat-list .heading {
    padding: var(--main-padding);
}

li.cat-item {
    position: relative;
    font-size: 14.4px;
}


.cat-item a {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: #000;
}

.popular-article {
    margin-top: 25px;
}

.article-list {
    font-size: 14.4px;
}

.article-list li {
    list-style-type: none;
    padding: 8px 30px;

}

.article-list li a {
    color: #000;
    opacity: 0.6;
}

.article-list a {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    white-space: nowrap;
    /* Prevent text from wrapping */
}

/* LOGIN */
/* AND */
/* REGISTRATION */
.form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 33px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.form-group input {
    outline: none;
    display: block;
    background: #ffffff;
    width: 100%;
    border: 2px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
    background-color: #e0e0e0d3;
    border: 0;
    transition: background-color 0.3s ease;
}

.form-group button {
    outline: none;
    background: #4285f4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #ffffff;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

.form-group button:hover {
    background: #0b66f8;
}

.form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-group .form-remember input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.form-group .form-recovery {
    color: #4285f4;
    font-size: 12px;
    text-decoration: none;
}

.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
    min-height: 100%;
}

.form-panel.one:before {
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
}

.form-header {
    margin: 0 0 40px;
}

.form-header h1 {
    padding: 4px 0;
    color: #4285f4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-group.error input {
    border-color: #e74c3c;
}

.form-group small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-group.error small {
    visibility: visible;
}


.file-upload .file-upload-select {
    margin: 48px auto 0;
    display: block;
    cursor: pointer;
    background: transparent;
    overflow: hidden;
    border: 1px solid black;
}

.file-upload .file-upload-select .file-select-button {
    background: black;
    color: white;
    padding: 10px;
    display: inline-block;
    border: 2px solid black;

}

.file-upload .file-upload-select .file-select-name {
    display: inline-block;
    padding: 10px;
}

.file-upload .file-upload-select:hover .file-select-button {
    background: white;
    color: black;
    padding: 10px;

    border: 2px solid black;

}

.file-upload .file-upload-select input[type="file"] {
    display: none;
}

.upload-btn-container {
    padding-top: 8px;
}

.upload-btn {
    border: 0;
    background: #255ff4;
    border-radius: 1.25em;
    color: #fff;
    cursor: pointer;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
    transition: all 0.1s linear;
    width: 6em;
    -webkit-tap-highlight-color: #0000;
    -webkit-appearance: none;
    appearance: none;
}

.upload-btn:not(:disabled):focus,
.upload-btn:not(:disabled):hover {
    background: #0b46da;
}

.upload-btn:focus {
    outline: transparent;
}

.upload-btn-border {
    display: block;
    overflow: visible;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.commentbox {
    font-family: inherit;
    color: #4a4a4a;
    font-size: 14px;
}

.commentbox .comment-input,
.commentbox .comment-btn {
    display: inline-block;
    border-radius: 5px;
}

.commentbox .comment-input {
    width: 550px;
    appearance: none;
    outline: 0;
    border: 1px solid var(--grey-color);
    padding: 10px;
    height: 100px;
}

.commentbox .comment-input:focus {
    border: 2px solid var(--sidebar-hover-color);
    background-color: #fff;

}

.commentbox .comment-stream {
    list-style: none;
    padding: 0;
    margin: 0;
}

.commentbox .comment-stream .comment-remove {
    display: none;
    background-color: red;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 12px;
    padding: 0 12px;
    opacity: 0.75;
    cursor: pointer;
}

.commentbox .comment-stream .comment-remove:hover {
    opacity: 1;
}

.commentbox .comment-stream li {
    font-size: 14px;
    padding-left: 10px;
    border-left: 3px solid #4a4a4a;
    margin-bottom: 25px;
}

.commentbox .comment-stream li:hover .comment-remove {
    display: inline-block;
}

.comment-author-date p {
    color: var(--main-color);
    margin-bottom: 10px;
}